.anchor-container {
  height: 100vh;
  overflow-y: auto;

  .anchor-el-one,
  .anchor-el-two {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .anchor-el-one {
    top: 0;
    left: 10px;
    anchor-name: --anchor-el-one;
  }

  .anchor-el-two {
    top: 200px;
    right: 10px;
    anchor-name: --anchor-el-two;
  }

  .positioned-notice-mutiple {
    position: absolute;
    top: anchor(--anchor-el-one bottom);
    left: anchor(--anchor-el-one right);
    bottom: anchor(--anchor-el-two top);
    right: anchor(--anchor-el-two left);
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    position-try-options: flip-block, flip-inline, flip-block flip-inline;
  }
}
