// 文字渐变
@mixin gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

// 单行省略号
@mixin single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}