.tabLayout {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  overflow-y: hidden;
  flex-grow: 1;
}

.menuLayout {
  overflow-y: scroll;
  scrollbar-width: none;
}

.menuItem {
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  background-color: white;
}

.menuItemSelect {
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  background-color: gainsboro;
}

.contentLayout {
  flex-grow: 1;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}