.homeLayout {
  background-color: #DDDDDD;
}

.homeListItem {
  height: 50px;
  line-height: 50px;
  background-color: white;
  border-bottom: 1px solid #989EA4;
  padding-left: 15px;
}

.homeListItem:last-child{
  border-bottom: transparent;
}